*{
    font-family: Rubik;
    color: rgb(192, 217, 239);
}
body{
    /* background: linear-gradient(113deg, #C7DADF -3.86%, #587B92 95.42%); */
    background: linear-gradient(113deg, #090A27 -3.86%, #20537B 95.42%);
    align-items: center;
    gap: 10px;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.first-row{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  
  }
  .log-out{
    width: 40px;
    margin-top: 30px;
    margin-right: 60px;
  }
  
  .log-out:hover{
    cursor: pointer;
  }
  
  
  .logo-container{
      margin-right: -60px;
      margin-top: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  
  
  
  .logo_img{
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      margin-right: 20px;
  }
  .logo{
      font-family: "Righteous";
      display: block;
      color: #ffffff;
      text-align: center;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
  .tile-con{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .tile{
    border-radius: 32px 0px 0px 32px;
    background: linear-gradient(129deg, rgba(192, 167, 167, 0.50) -36.83%, rgba(117, 138, 162, 0.32) 52.26%, rgba(26, 116, 169, 0.00) 148.37%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.60);
    padding-left: 40px;
    padding-right: 40px;
  }

  .account{
    display: flex;
    
  }

  .ab{
    padding-left: 20px;
    display: flex;
    align-items: center;
    width: 450px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 48px;
    background: #FFF;
    margin-bottom: 20px;
}
.enq{
    width: 380px;
    height: 45px;
    font-size: 19px;
    background:transparent;
    border: none;
    margin-left: 20px;
    align-items: center;
    cursor: pointer;
}