@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}




@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

/* HEADER */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

html {
  height: 100%;
}



body {
  width: auto;
  margin: 0;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* background-image: linear-gradient(to bottom right, #000428 , #243b55); */
  /* background-color: #030620; */
  margin: 0;
  padding: 0;
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  background-image: url('img/gradeint.jpg');
  /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%);    background: linear-gradient(14deg, #205360 30.78%, #112731 65.44%, #13252E 95.83%, #13252E 98.9%); */
}

.first-row {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;

}

.log-out {
  width: 40px;
  margin-top: 30px;
  margin-right: 60px;
}

.log-out:hover {
  cursor: pointer;
}


.logo-container {
  margin-right: -60px;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}




.logo_img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 20px;
}

.logo {
  font-family: "Righteous";
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-bar {
  font-family: "Poppins";
  margin-top: 40px;
  /*margin-bottom: 40px;*/
  margin-left: 0px;
  margin-right: 0px;
  /* border-bottom: 1px solid #0c0230; */
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: transparent;
  /* From https://css.glass */
  border-radius: 16px;

  /* background-color: #232e79; */
}

.nav-bar.glass {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.50);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.9px);
  -webkit-backdrop-filter: blur(18.9px);
}



.navlist {
  display: flex;
  justify-content: space-around;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 150px;
  position: absolute;
  z-index: 999;
  display: none;
  background-color: #fbfafc;
  color: white;
  line-height: 3;

}


ul li ul.dropdown li {
  display: block;
}

ul li:hover ul.dropdown {
  display: block;
  background-color: #ffffff;
}

.aa {
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  /* font-family: Roboto; */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;

}

.aa:hover,
.active {
  color: #000000;
  cursor: pointer;
  background-color: #ffffffde;
  border-radius: 6px;
  font-weight: bold;
  /* From https://css.glass */
  background: #ffffff;
  border-radius: 16px;
}




/* Remove underlines and style anchor elements */
#nav-list1 .op1 {

  text-decoration: none;
  /* Remove underlines */
  /* Adjust font size if desired */
  margin: 0 10px;
  /* Add some spacing between links */
}

/* Style links on hover */


.li {
  display: block;
}

/* END OF THE HEADER*/

/* BANNER */
.banner {
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow: hidden;

}


/* END OF BANNER */

.slideWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.text_heading {
  font-family: "Poppins";
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size:30px;
  height: 100%;

}

.text_bank {
  max-width: 35vw;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 300;
}

/* css for slider */
.slider {

  width: 800px;
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

.slides {
  width: 500%;
  height: 800px;
  display: flex;
  opacity: 75%;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(18.9px);
  -webkit-backdrop-filter: blur(18.9px);
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/* css for manual navigation */
.navigation-manual {
  position: absolute;
  width: 1300px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #23E3C9;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #23E3C9;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -20%;
}

#radio3:checked~.first {
  margin-left: -40%;
}

#radio4:checked~.first {
  margin-left: -60%;
}

/* css for automatic navigation */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 1300px;
  justify-content: center;
  margin-top: 660px;
}

.navigation-auto div {
  border: 2px solid #23E3C9;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background: #23E3C9;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background: #23E3C9;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background: #23E3C9;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background: #23E3C9;
}

/*end of css for slider*/


/*our services section*/
.service {
  font-family: "Poppins";
  font-weight: 600;
  margin-top: 70px;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  font-size: 50px;
  padding: 10px;
}


.content {
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
}

.subcontent {
  font-family: Poppins;
  display: flex;
  flex-direction: row;
  /* color: #ffffff; */
  /* background-color: #070c37; */
  font-size: 35PX;
  padding: 10px;
  margin: 30px;
  /* border-radius: 20px; */
  height: 60vh;
  width: 40vw;
  opacity: 90%;
  /* From https://css.glass */
  /* From https://css.glass */
  /* From https://css.glass */
  /* From https://css.glass */
  /* From https://css.glass */
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(18.9px);
  -webkit-backdrop-filter: blur(18.9px);
  /* border: 1px solid rgba(255, 255, 255, 0.17); */
}

.subcontent P{
  font-size: 18px;
  font-family: poppins;
  color: #ffffff;
  margin: 10px;
}

.subcontent ul{
  font-size: 16px;
}

p {
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 200;
  line-height: 1.5;
  color: #ffffff;
  margin: 10px;
}

ul {
  list-style: none;
  margin: 10px;
  margin-left: 30px;
  padding: 10px;
  font-size: 15px;
}

.subcontent h4 {
  font-weight: 400;
}

.subcontent img {
  width: 250px;
  height: 200px;
  margin: 5px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
  opacity: 80%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.img {
  margin-top: 20px;
}


.text {
  margin-top: 20px;
  padding-left: 10px;
}

/*end of our services section*/



/*contact us section*/
.contact-section {
  display: flex;
  padding: 80px 0;
  margin-top: 50px;

  

}

.contact-section .container {
  color: #ffffff;
  width: 1200px;
  margin: 0 auto;

}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.section-title {
  font-size: 36px;
  margin-bottom: 30px;
}

.contact-section  .section-description {
  font-size: 20px;
  color:#ffffff;
  margin-bottom: 30px;
}

.contact-info {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 20px;
}

.fa {
  margin-right: 10px;
}

.contact-form input,
.contact-form textarea {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(255, 255, 255, 0.17);
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.contact-form textarea {
  height: 150px;
}

.btn {
  padding: 12px 30px;
  font-size: 16px;
}

.btn-primary {
  /* From https://css.glass */

  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(18.9px);
  -webkit-backdrop-filter: blur(18.9px);
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0069d9;
}

/*end of contact us section*/


/* about us section*/

.about-section {
  font-family: "Poppins";
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 80px 0;
  color: #ffffff;
}

.about-section .container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Poppins";
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  flex: 0 0 50%;
  align-items: center;
  max-width: 50%;
  padding-left: 30px;
  font-family: "Poppins";
}

.section-title {
  font-size: 36px;
  margin-bottom: 30px;
  font-family: "Poppins";
}

.about-section .section-description {
  font-size: 18px;
  margin-bottom: 30px;
  font-family: "Poppins";
}

.about-section p {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 20px;
  font-family: "Poppins";
}

.img-fluid {
  max-width: 100%;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(18.9px);
  -webkit-backdrop-filter: blur(18.9px);
}

/* end of about us section*/

/*footer*/

footer {
  background-color: #080431;
  padding: 20px;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-text {
  color: #ffffff;
  font-size: 14px;
}

/* end of footer */