.main {
    width: 70vw;
    height: 70vh;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align: center;
    flex-shrink: 0;
    border-radius: 33px;
    background: rgba(232, 213, 181, 0.35);
    box-shadow: 0px 10px 44px 3px #000;
    backdrop-filter: blur(10px);
}

.under_construction {
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 5vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.92px;
}

.back_soon {
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 3vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;
}

@media only screen and (max-width: 800px) {
    .main {
      width: 60vw;
      height: 50vw;
    }
  }