body{
    font-family:Rubik;
    background: linear-gradient(113deg, #C7DADF -3.86%, #587B92 95.42%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper{
    font-family: Rubik;
    max-width: 600px;
    height: 970px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 1px 1px 5px #070606;
}

.logo{
    background-color: #161343;
    margin-top: 0;
    font-size: 40px;
    color: white;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.logo:hover{
    background-color: #0a063c;
}

section{
    border-radius: 40px 0px 0px 0px;
    background: #ffffff;
    flex-shrink: 0;
    padding: 15px;
    padding-top: 0;
    font-size: 18px;
}

h1{
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
    font-size: 28px;
}

p{
    font-size: 14px;
    padding: 30px;

}

.sub-topic{
    background-color: #9e9fca;
    padding: 3px;
    padding-left: 5px;
}


label{
    font-weight: bold;
}

input[type=text],input[type=number]{
    background-color: rgb(231, 228, 228);
    width: 400px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: inset 0px 0px 5px #807f7f;
    margin-top: 3px;
    margin-bottom: 20px;
    padding-left: 6px;
}

div{
    margin-top: 5px;
}

.account{
    margin-bottom: 20px;
}
.placediv{
    margin-bottom: 20px;
}

.termsdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    border-radius: 8px;
    height: 50px;
    background: #82772b;
    background-blend-mode: darken;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-left: 10px;
}

.btn{
    display: flex;
    justify-content: center;
}
button{
    border: solid rgb(9, 5, 86);
    border-radius: 50px;
    width: 120px;
    height: 50px;
    background-color: #1F1B57;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

button:hover{
    background-color: #161343;
    
}