<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online loan </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout2.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper" style="height: 1170px;">
        <div class="logo">
            <div>ASPIRE Trust</div>
        </div>
        <h1>BANK Loan FORM</h1>
        <H2>Online</H2>

        <section>
            {% if context %}
            <form action="">
                <p class="sub-topic">Account Details</p>

                <div class="account">
                    <div>
                        <label for="ID">Fixed Deposit Account Number</label><br>
                        <select name="fixed_account_number" id="">
                            {% for account in context.fd_accounts %}
                            <option value="{{ account.fixed_deposit_id }}">{{ account.fixed_deposit_id }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="branch">Maximum Loan Amount</label><br>
                        <input type="number" id="branch" value="{{context.maximum_loan_amount}}" disabled>
                    </div>  
                </div>
                
                <p class="sub-topic">Personal Details</p>

                <!-- <div class="genderdiv">
                    <label for="gender">Gender</label>
                    <input type="radio" name="prefix" required>Male
                    <input type="radio" name="prefix" required>Female
                </div> -->

                <label for="name">Name</label>
                <div class="namediv">
                    
                    <div>
                        <input type="text" id="myname" placeholder="First" value="{{context.first_name}}" disabled>
                    </div>
                    <div>
                        <input type="text" id="myname" placeholder="Second" value="{{context.last_name}}" disabled>
                    </div>
                </div>

                <div class="loandetails">
                    <div class="genderdiv">
                        <label >Loan Type</label><br>
                        <input type="radio" name="status" required>Personal
                        <input type="radio" name="status" required>Bussiness
                </div>
                    <div>
                        <label for="loan">Loan Amount</label><br>
                        <input type="number" id="loan" placeholder="Rs" required>
                    </div>
                </div>



                <div class="contact">
                    <div>
                        <label for="phone">Phone Number</label><br>
                        <input type="text" id="phone" placeholder="07X-XXXXXXX" value="{{context.telephone}}" disabled>
                    </div>
                    <div>
                        <label for="nic">NIC Number</label><br>
                        <input type="text" id="nic" value="{{context.nic}}" disabled>
                    </div>
                </div>


                <div class="addressdiv">
                    <label for="address">Residental Address</label><br>
                    <input type="text" id="address" required placeholder="address" value="{{context.home_town}}" disabled><br>
                </div>

                <div class="martialdiv">
                        <label >Marital Status</label>
                        <input type="radio" name="status" required>Single
                        <input type="radio" name="status" required>Married
                </div>

                <div class="occudiv">
                    <label for="occu">Occupation</label><br>
                    <input type="text" id="occu" name="occname" required>
                </div>

                <p class="sub-topic">Terms & Conditions</p>

                <div class="termsdiv">
                    <div><input type="checkbox"  required></div>
                    <div>
                        <p class="conditions">
                            I agree to comply with and to be bound by the rules of the bank governing the conduct of this Account and Other services including Debit card; Internet &
                            Mobile banking; Mobile App; SMS alerts & E-statements which I / We have read and understood. I/ We acknowledge the receipt of a copy of the Terms and
                            conditions governing the above facilitie
                        </p>
                    </div>
                </div>

                <div class="btn">
                    <a href="another.html">
                        <button >Submit</button>
                    </a>
                </div>
            </form>
            {% endif %}
        </section>
    </div>
    
    <script src="main.js"></script>
</body>
</html>