<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Approval</title>

    <link rel="stylesheet" href="layout1.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">

        <div class="logo">
            <div>ASPIRE Trust</div>
        </div>
        <h1>LOAN APPROVAL FORM

        </h1>

        <section>
            <form action="">
                <p class="sub-topic">Loan Details</p>
                <div>
                    <div class="account">
                        <label for="acc.number"> Loan Holder's Name</label><br>
                        <input type="text" id="branch" required>      
                    </div>
                    <div class="fund">
                        <label for="acc.number">Amount</label><br>
                        <input type="number" id="branch" required placeholder="Rs">      
                    </div>
                </div>
                
                <p class="sub-topic">Accept </p>

                <div class="termsdiv"  style="width: 350px; margin-left: 190px;" >
                    <div><input type="checkbox"  required></div>
                    <div>
                        <p class="conditions">
                            I Approve the loan amount as requsted
                        </p>
                    </div>
                </div>

                
                <div class="btn">
                    <a href="another.html">
                        <button >Accept Now</button>
                    </a>
                </div>
            </form>
        </section>
    </div>
</body>
</html>