<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Righteous&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/employee_dashboard.css') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@200&family=Open+Sans&family=Righteous&display=swap" rel="stylesheet">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@200;300&family=Open+Sans&family=Righteous&family=Rubik&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <title>Bank</title>
    </head>

    <body>
        <div class = 'logo-container'>            
                <img class="logo_img" src="img/vector.svg">
                <span class = 'logo'>ASPIRE Trust </span> <h4 style="font-family: Rubik; color: white; margin-left: 5px;"> Manager</h4>
        </div>
        <nav class="nav-bar">
            <ul class="navlist">
                <li><a href="#" class ='aa' >Home</a></li>
                <li>
                    <button class="aa-but" onclick="location.href='#popup1'">Apply Now</button>
                </li>
                <li>    <a href="/auth/logout">Logout</a></li>
            </ul>
        </nav>
        <div class="banner">
            <div class="tile"> 
                <img class="banner-image" src="img/boadt.jpg" alt="">
                <div class="banner-text">
                    <div class="banner-text1">Banking Made Simple, Savings Made Easy</div>
                    <div class="banner-text2">Yours Trusted, Aspire trust</div>
                </div>
                

            
            
            
            </div>
        </div>

        <div class = 'first'>
            
            <div class = 'welcome'>Hey Siripala Welcome</div>
            <div class = 'notice-tile'> 
                <div style="color: white;
                    text-align: center;
                    font-family: Rubik;
                    font-size: 26.4px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-top: 20px;" >Notice</div>
                
                <ul class ='notice-list'>
                    <li class ='notic'>
                        Maintenance Alert: Website maintenance from 10:00 PM to 2:00 AM (UTC)
                    </li>
                    <li class ='notic'>
                        Visit us Now! Free coffee and snacks at all branches.
                    </li>
                    <li class ='notic' >
                        Holiday Closure: All our branches will be closed on Christmas Day.
                    </li>
                    <li class ='notic'>
                        New Banking System Now Live! Visit us to know more.
                    </li>

                </ul>






            </div>
        </div>

        <div class ='dashboard'>
            <div class = 'info'>

                <div class="detail-con">
                    <div  class="user-detail-head">
                        Get User Details
                    </div>
                    <form style="display: flex; flex-direction: column; justify-content: center; align-items: center;"
                        method="post" action="">
                        <div class="inputs">

                            <div class="emailCon">
                                <div class="ab">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path
                                            d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21"
                                            stroke="#00507C" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z"
                                            stroke="#00507C" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                    <input name="AccountNo" class="enq" type="text" placeholder="Account No." required></input>
                                </div>

                            </div>

                        </div>

                        <div class="final">
                            
                            <button class="SubBut" type="submit"> Check </button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="CE-container">
                <div style="color: white;
                    text-align: center;
                    font-family: Roboto;
                    font-size: 26.4px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    " >Currency Exchange</div>
                <div style="display: grid; grid-template-columns: 1fr 1fr ;  text-align: center; color: white; font-size: 20px;">
                    <span class = 'notic'> USD </span> <span> LKR 320.1 </span>
                    <span class = 'notic' > INR </span> <span> LKR 2.21 </span>
                    <span class = 'notic'> RUB </span> <span> LKR 24.21 </span>
                    <span class = 'notic'> GBP </span> <span> LKR 394.00 </span>
                    <span class = 'notic'> EUR </span> <span> LKR 342.12 </span>
                    <span class = 'notic'> JPY </span> <span> LKR 2.17 </span>
                    <span class = 'notic'> CNY </span> <span> LKR 44.43 </span>
                    <span class = 'notic'> AUD </span> <span> LKR 207.32 </span>
                    
                    
                    
                </div>
            </div>

        </div>

        <div class="report-con">

            <div class = 'report'>

                <div class="detail-con">
                    <div  class="user-detail-head">
                        Reports

                    </div>

                    <div class="final">
                            
                        <button class="branch-but" type="submit" style="margin-bottom: 20px;"> Generate Branch-wise Report </button>

                        <button class="branch-but" type="submit"> Generate Branch wise late loan installment report </button>

                    </div>
                </div>

            </div>
        </div>



        <div class = 'footer-container' style="margin-top: 20px; margin-bottom: 20px;">

            <div class = 'footer'>
                <img src="img/footer.svg">

            </div>
            
        </div>


          <div id="popup1" class="overlay">
            <div class="popup">
                      
            <h2 style="color: rgb(255, 255, 255); display: flex; justify-content: center; font-family: roboto; ">Apply Now.</h2>
            <a class="close" href="#">&times;</a>
            <div class="buttons">
              
              <a href="#" class="btn">Savings Account</a>
              <a href="#" class="btn">Current Account</a>
              <a href="#" class="btn">Fixed Deposit</a>
              
            </div>
                
            </div>
        </div>



    </body>
</html>