<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loan </title>
    <link rel="stylesheet" href="layout2.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <div class="navlogo">
            <div><a href="#">ASPIRE Trust</a></div>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
        
    </nav>
    <div class="wrapper" style="height: 1170px;">
        <div class="logo">
            <div>ASPIRE Trust</div>
        </div>
        <h1>BANK Loan FORM</h1>
        <H2>General</H2>

        <section>
            <form action="">
                <p class="sub-topic">Employee Details</p>
                <div class="account">
                    <div>
                        <label for="ID">Employeer ID</label><br>
                        <input type="text" id="ID" required>
                    </div>
                    <div>
                        <label for="branch">Branch</label><br>
                        <input type="text" id="branch" required>
                    </div>  
                </div>
                
                <p class="sub-topic">Customer Details</p>

                <div class="genderdiv">
                    <label for="gender">Gender</label>
                    <input type="radio" name="prefix" required>Male
                    <input type="radio" name="prefix" required>Female
                </div>

                <label for="name">Name</label>
                <div class="namediv">
                    
                    <div>
                        <input type="text" id="myname" placeholder="First" required>
                    </div>
                    <div>
                        <input type="text" id="myname" placeholder="Second" required>
                    </div>
                </div>

                <div class="loandetails">
                    <div class="genderdiv">
                        <label >Loan Type</label><br>
                        <input type="radio" name="status" required>Personal
                        <input type="radio" name="status" required>Bussiness
                </div>
                    <div>
                        <label for="loan">Loan Amount</label><br>
                        <input type="number" id="loan" placeholder="Rs" required>
                    </div>
                </div>



                <div class="contact">
                    <div>
                        <label for="phone">Phone Number</label><br>
                        <input type="number" id="phone" placeholder="07X-XXXXXXX" required>
                    </div>
                    <div>
                        <label for="nic">NIC Number</label><br>
                        <input type="number" id="nic" required>
                    </div>
                </div>


                <div class="addressdiv">
                    <label for="address">Residental Address</label><br>
                    <input type="text" id="address" required placeholder="address"><br>
                </div>

                <div class="martialdiv">
                        <label >Marital Status</label>
                        <input type="radio" name="status" required>Single
                        <input type="radio" name="status" required>Married
                </div>

                <div class="occudiv">
                    <label for="occu">Occupation</label><br>
                    <input type="text" id="occu" name="occname" required>
                </div>

                <p class="sub-topic">Terms & Conditions</p>

                <div class="termsdiv">
                    <div><input type="checkbox"  required></div>
                    <div>
                        <p class="conditions">
                            I hereby declare that the above information is true and correct to the best of my knowledge and belief.
                             I undertake to inform you of any changes therein, immediately. In case any of the above information is 
                             found to be false or untrue or misleading or misrepresenting, I am aware that I may be held liable for it.
                        </p>
                    </div>
                </div>

                <div class="btn">
                    <a href="another.html">
                        <button >Submit</button>
                    </a>
                </div>
            </form>
        </section>
    </div>
    
    <script src="main.js"></script>
</body>
</html>