<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Righteous&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/user_details.css') }}" />
        <link rel="stylesheet" href="user_details.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@200&family=Open+Sans&family=Righteous&display=swap" rel="stylesheet">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@200;300&family=Open+Sans&family=Righteous&family=Rubik&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <style>
            body
            {
                background-image: url("{{ url_for('static',filename='img/home/group-131.png') }}");
                background-size: cover;
            }
        </style>
        <title>Bank</title>
    </head>

    <body>
        <div class = 'logo-container'>            
                <img class="logo_img" src="img/vector.svg">
                <span class = 'logo'>ASPIRE Trust </span> <h4 style="font-family: Rubik; color: white; margin-left: 5px;"> Employee</h4>
        </div>
        <nav class="nav-bar">
            <ul class="navlist">
                <li><a href="#" class ='aa' >Home</a></li>
                <li>
                    <button class="aa-but" onclick="location.href='#popup1'">Apply Now</button>
                </li>

            </ul>
        </nav>
        <div class="banner">
            <div class="tile"> 
                <img class="banner-image" src="img/boadt.jpg" alt="">
                <div class="banner-text">
                    <div class="banner-text1">Banking Made Simple, Savings Made Easy</div>
                    <div class="banner-text2">Yours Trusted, Aspire trust</div>
                </div>
                

            
            
            
            </div>
        </div>



        <div class ='dashboard'>
            <div class = 'info'>
                
                <div class="first-container">
                    <img onclick="" class="back-arr" src="img/back-arrow.png" alt="">
                        
                    <div class="conn">
                        <div style="display: flex; align-items: center;" >
                            <div class="blocc" style="color: #FFF;
                            font-family: Manrope;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.48px;
                            margin-right: 20px;">
                                The number of Accounts
                            </div>
                            <div class="numAccounts"></div>
                        </div>

                        <div class="button-con">
                            

                            <div class="dropdown">
                                <button class="dropbtn">Select Account</button>
                                <div class="dropdown-content">
                                <a href="#">Savings Account</a>
                                <a href="#">Current Account</a>
                                <a href="#">Fixed Deposit Account</a>
                                </div>
                              </div>
                        </div>
                    </div>    
                    
                </div>
                <div class="allAccounts">
                    <div class = "accountHead" >
                        <div >
                            Account
                        </div>
                        <div >
                            Status
                        </div>
                        <div>
                            Amount
                        </div>
                    </div>
                    <div class ='accounts'>

                    </div>

                </div>        
            </div>


        </div>
        <div class = 'footer-container' style="margin-top: 20px; margin-bottom: 20px;">

            <div class = 'footer'>
                <img src="img/footer.svg">

            </div>
            
        </div>


          <div id="popup1" class="overlay">
            <div class="popup">
                      
            <h2 style="color: rgb(255, 255, 255); display: flex; justify-content: center; font-family: roboto; ">Apply Now.</h2>
            <a class="close" href="#">&times;</a>
            <div class="buttons">
              
              <a href="#" class="btn">Savings Account</a>
              <a href="#" class="btn">Current Account</a>
              <a href="#" class="btn">Fixed Deposit</a>
              
            </div>
                
            </div>
        </div>



    </body>
</html>