*{  
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

html{
    height: 100%;
}
body {
    width: auto;
    margin: 0;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* background-image: linear-gradient(to bottom right, #000428 , #243b55); */
    background-color: #000000;
  margin: 0;
  padding: 0;
  background-image: url('img/group-131.png'); /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
    /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%);    background: linear-gradient(14deg, #205360 30.78%, #112731 65.44%, #13252E 95.83%, #13252E 98.9%); */
}

.first-row{
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;

}
.log-out{
  width: 40px;
  margin-top: 30px;
  margin-right: 60px;
}

.log-out:hover{
  cursor: pointer;
}


.logo-container{
    margin-right: -60px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_img{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 20px;
}
.logo{
    font-family: "Righteous";
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav-bar{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 150px;
    margin-right: 150px;
}

.navlist{
    display: flex;
    justify-content: space-around;
}

.aa{
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

/* Remove underlines and style anchor elements */
#nav-list1 .op1 {

    text-decoration: none; /* Remove underlines */
/* Adjust font size if desired */
    margin: 0 10px; /* Add some spacing between links */
}

/* Style links on hover */


.li{
    display: block;
}



.first{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-self: auto;
    margin-left: 180px;
    margin-right: 100px;
    margin-top: 60px;
    align-items: center;


}

.dashboard{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top:70px;
    
    
}
.info{
    border-radius: 20px;
    border: 1px solid #8ECAE6;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 2.08%, rgba(0, 0, 0, 0.06) 47.92%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(137deg, rgba(2, 48, 71, 0.78) 21.18%, rgba(2, 48, 71, 0.00) 100%);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.17);
    backdrop-filter: blur(30px);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-shrink: 0;
    margin-bottom: 30px;

    border-radius: 20px;
    border: 1px solid rgba(142, 202, 230, 0.17);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 2.08%, rgba(13, 16, 28, 0.15) 47.92%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(137deg, rgba(2, 48, 71, 0.38) 21.18%, rgba(2, 48, 71, 0.07) 57.4%, rgba(2, 48, 71, 0.00) 100%);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.17);
    backdrop-filter: blur(30px);
}






/* -------------------------- banner*/

.button-con{
  display: flex;
  justify-content: space-between;
}
.aa-but{
  background: transparent;
  border: none;
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}
.texti{
    font-family: Rubik;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}

.buttons{
    border-radius: 20px;
    border: 1px solid #8ECAE6;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 2.08%, rgba(0, 0, 0, 0.06) 47.92%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(137deg, rgba(2, 48, 71, 0.78) 21.18%, rgba(2, 48, 71, 0.00) 100%);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.17);
    backdrop-filter: blur(30px);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-shrink: 0;

    border-radius: 20px;
    border: 1px solid rgba(142, 202, 230, 0.17);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 2.08%, rgba(13, 16, 28, 0.15) 47.92%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(137deg, rgba(2, 48, 71, 0.38) 21.18%, rgba(2, 48, 71, 0.07) 57.4%, rgba(2, 48, 71, 0.00) 100%);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.17);
    backdrop-filter: blur(30px);
}
.buttons1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
    text-decoration: none;
  }


.btn{
    border-radius: 12px;
    border: 2px solid #ffffff;
    font-family: Manrope;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--gap);
    padding: 0.6rem;
    cursor: pointer;
    /* border-radius: var(--radius); */
    
    box-shadow: var(--shadow);
    position: relative;
    margin-bottom: 20px;
    color: #ffffff ;
    width: 200px;
    text-decoration: none;
  }
  
  .btn:hover {
    /* background-color: var(--color); */
    background-color: #10252c;
    color: #034b6f;
    transition: 0.2s;
  }
  .btn:active {
    transform: scale(0.98);
  }
  .tex{
    padding-top:18px;
    font-family: Rubik;
    color: #ffffff;
    text-align: center;
    font-size: 16px;

  }
  .savcur{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 150px;
  }
  .first-container{
    display: flex; 
    margin-left: 50px;  
    align-items: center; 
    /* justify-content:space-between;  */
    margin-right: 50px; 
    margin-bottom: 50px;
  }
  .back-arr:hover{
    cursor: pointer;
  }
  .back-arr:focus{
    opacity: 80%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 3s ease-in-out;
  
    border-radius: 40px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%), rgba(18, 92, 129, 0.22);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.17);
    backdrop-filter: blur(30px);
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Rubik;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
  }
  .popup .close:hover {
    color: #adc5d1;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }